
body {
    background-color: #deebff;
    margin: 0;
    font-family: "Roboto";
    font-style: italic;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2a1a6e;
    border-bottom: 2px solid #d5d8dd;
    padding: 10px 0;
}

.menu-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 10px 18px;
    margin-left: 10px;
    border-radius: 10px;

    background-color: #e9eef5;
    transition: transform 0.25s;
    cursor: pointer;

    flex-grow: 1; 
    justify-content: center;
}

.menu-button:hover {
    background-color: #bebce4;
    transform: translateY(-2px);

}

.menu-button-icon img {
    width: 32px;
    height: 32px;
    filter: brightness(0) saturate(100%) invert(12%) sepia(67%)
    saturate(3500%) hue-rotate(210deg) brightness(92%) contrast(95%);
    transition: 0.7s;
}

/* Подписи */
.menu-button-name {
    font-size: 20px;
    font-weight: 500;
    transition: 0.7s;
}
.menu-button:hover .menu-button-name {
    font-size: 22px;
}
.menu-button:hover .menu-button-icon img{
    width: 36px;
    height: auto;
}

.list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.box {
    width: 140px;
    height: 120px;
    background-color: #830909;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    color: #fff;

    flex-grow: 1;
}

@media screen and (max-width: 850px) {

    .menu {
        flex-direction: column;
        align-items: stretch;
    }

    .menu-button {
        margin: 6px 15px;
        justify-content: flex-start;
    }

    .menu-button-icon img {
        width: 28px;
        height: 28px;
    }

    .menu-button-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {

    .menu-button {
        flex-direction: column;
        text-align: center;
        gap: 8px;
        padding: 14px;
    }

    .menu-button-name {
        font-size: 16px;
    }
}
