

.play {
    position: relative;
    width: 400px;  
    height: 400px; 
    top: 190px;
    left:750px;
}

.doll {
        max-width: 400px;
        max-height: 400px;
        position: absolute;
        top: 85px;
        right:185px;
        transition-property: transform;
        transition-duration: 2s;
        transition-timing-function: ease-out;
        transition-delay: 0.1s;
        z-index: 1;
    }
.play:hover .doll{
    transform: translateX(540px) scale(1.6);
}

.covering {
    transform: rotate(7deg);
    width: 375px;
    height: 500px;
    position: absolute;
    top: 40px;
    right:185px;
    transition: transform 2s ease-out 0.1s;
    z-index: 2;
}
.play:hover .covering {
    transform: translateY(-800px) rotate(280deg);
}

.name {
    position: absolute;
    top:-500px;
    width: 200px;
    height: 100px;
    align-items: center;
    display: flex;
    transition: transform 2s ease-out 0.1s;
}
.name > #l{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    position: absolute;
}
.name > #E{
    position: absolute;
    width: 100px;
    height: auto;
    right: 200px;
    transform: rotate(180deg)

}

.play:hover .name{
    transform: translateX(-250px) translateY(545px) scale(2);

}

.u1 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0px
}

.u2 {
    position: absolute;
    top:0px;
    left: 1360px;
    width: 300px;
    height: 300px;
    transform: rotate(90deg)
}


.circle {
    position: absolute;
    top: -20px;
    left: 1000px;
    width: 600px;
    height: 600px;
    transition: transform 5s ease-out 0.4s; 
}

.play:hover .circle{
    transform: translateX(-700px) rotate(360deg);
}

.p {
    position: absolute;
    top: -50px;
    right: 1029px;
    width: 300px;
    height: 200px;
    opacity: 70%;
}
.p1 {
    position: absolute;
    top: -50px;
    right: 700px;
    width: 300px;
    height: 200px;
    opacity: 70%;
}
.p2 {
    position: absolute;
    top: -50px;
    right: 363px;
    width: 300px;
    height: 200px;
    opacity: 70%;
}

.description1{
    position: absolute;
    top: 50px;
    right: 1200px;
    width: 520px;
    height: 650px;
    background-color: rgb(164, 183, 199);
    z-index: -6;
    transition: transform 2s ease-out 0.1s;
}

.description1 > #text1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(78, 5, 5);
    z-index: -3;
    line-height: 1;  
    padding-top: 130px;
    padding-left: 10px;;

}
.description1 > #i{
    position: absolute;
    width: 120px;
    top:510px;
    left: 340px
}

.description1 > #bow{
    position: absolute;
    width: 340px;
    padding-top:-600px;
    padding-left: -70px;
    transform: rotate(-25deg)
}
.play:hover .description1{
    transform: translateX(600px);
}

.jl {
    position:absolute;
    top: 825px;
    right: 10px;
    width: 1750px;
    height: auto;}

.picture1 {
    position: absolute;
    width: 500px;
    height: auto;
    border-color: rgb(128, 0, 0);
    top: -800px;
    right: -300px;
    transition: transform 2s ease-out 0.6s;
    z-index: -15;
}

.picture2 {
    position:absolute;
    width: 400px;
    height: auto;
    border-color: rgb(43, 54, 88);
    top: -100px;
    left: 1000px;
    z-index: -19;
    transition: transform 2s ease-out 0.4s;
}

.play:hover .picture1{
    transform: translateY(1150px) translateX(-450px);
}

.play:hover .picture2{
    transform: translateX(-1250px);
}
